<div class="col-md-2"></div>
<div class="col-md-8">
  <h2>Index of Recipes</h1>
  <% @recipes.each do |recipe| %>
    <div class="jumbotron">
      <h1><%= recipe.name %></h1>
      <p>
        <%= recipe.protein %>g
        <%= recipe.carbohydrates %>g
        <%= recipe.fat %>g
      </p>
      <p>
        <%= link_to 'Show', recipe, class: "btn btn-primary btn-small" %>
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_recipe_path(recipe), class: " btn btn-success btn-small" %>
          <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-small" %>
        <% end %>
      </p>
    </div>
    <br />
  <% end %>
  <p><%= link_to 'Add a new Recipe', new_recipe_path, class: "btn btn-primary btn-small" %></p>
</div>
<div class="col-md-2"></div>
<br />

