<div class="col-md-2"></div>
<div class="col-md-8">
  <h2>Index of Recipes</h1>
  <div class="recipe-search">
    <%= form_tag recipes_path, method: "get" do %>
      <%= label_tag :search, "Search Recipes" %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", name: nil, class: "btn btn-success btn-small" %>
      <%= link_to 'Advanced Search', recipes_search_path, class: "btn btn-primary btn-small pull-right" %>
    <% end %>
  </div>
  <% @recipes.each do |recipe| %>
    <div class="recipe-box">
      <h1>
        <%= recipe.name.capitalize %>
      </h1>
      <h2>
        <% if recipe.user %>
          <%= recipe.user.email %>
        <% end %>
      </h2>
      <div class="recipe-features">
        <% if recipe.high_protein %>
          <p>High protein</p>
        <% end %>
        <% if recipe.low_fat %>
          <p>Low fat</p>
        <% end %>
      </div>
      <p>
        Protein: <%= recipe.protein %>g
        Carbohydrates: <%= recipe.carbohydrates %>g
        Fat: <%= recipe.fat %>g
      </p>
      <p>
        <%= link_to 'Show', recipe, class: "btn btn-primary btn-small" %>
        <% if @myRecipes %>
          <% if @myRecipes.include? recipe %>
            <%= link_to 'Edit', edit_recipe_path(recipe), class: " btn btn-success btn-small" %>
            <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-small" %>
          <% end %>
        <% end %>
      </p>
    </div>
    <br />
  <% end %>
  <p><%= link_to 'Add a new Recipe', new_recipe_path, class: "btn btn-primary btn-small" %></p>
</div>
<div class="col-md-2"></div>
<br />

