<div class="col-md-2"></div>
<div class="col-md-8">
  <h2>Index of Recipes</h1>
  <div class="recipe-search">
    <%= form_tag("/search", method: "get") do %>
      <%= label_tag(:q, "Search Recipes") %>
      <%= text_field_tag(:q, "Turkey Lasagna") %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
  <% @recipes.each do |recipe| %>
    <div class="recipe-box">
      <h1>
        <%= recipe.name.capitalize %>
      </h1>
      <div class="recipe-features">
        <% if recipe.high_protein %>
          <p>High protein</p>
        <% end %>
        <% if recipe.low_fat %>
          <p>Low fat</p>
        <% end %>
      </div>
      <p>
        Protein: <%= recipe.protein %>g
        Carbohydrates: <%= recipe.carbohydrates %>g
        Fat: <%= recipe.fat %>g
      </p>
      <p>
        <%= link_to 'Show', recipe, class: "btn btn-primary btn-small" %>
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_recipe_path(recipe), class: " btn btn-success btn-small" %>
          <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-small" %>
        <% end %>
      </p>
    </div>
    <br />
  <% end %>
  <p><%= link_to 'Add a new Recipe', new_recipe_path, class: "btn btn-primary btn-small" %></p>
</div>
<div class="col-md-2"></div>
<br />

